# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# ignore local file which includes myself information
init-local.el

# ignore test
test*

# ignore custome
custome.el
local.el

backup.txt
