# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

.DS_Store

# ignore local file which includes myself information
init-local.el
custom.el
local.el
private/*

# ignore emacs files
.local/*
.cache/*
elpa*/*
auto-save-list/*
site-lisp/*
.github/*
transient/*
bookmarks
recentf

# ignore local vendor
vendor/local-*

# ignore test
test*

backup.txt
